<!doctype html>
<html>
<head>
    <title>MongoDB Real-Time Collection</title>
    <!--
    src attribute specifies the URL of an external script file. 
    so it will save some time for Java script
    -->

    <!--
    import cloudfare socket libaray
    -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <!--
    import jQuery libaray to define function
    -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 
    please not that padding cannot be change, or the final html will be really weird.
    broder size 1px - 3px
    future work: adjust the table size based on the data size
    -->
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
            text-align: center;
        }

        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>MongoDB Real-Time Collection</h1>

    <!-- 
    what if I just start typing here for nonsense. will it reduce the possibility
    or what.
    lAY OFF
    20%
    this is a interesting and dangerous test

    -->
    <!--
    Here in the change table, I write out the column/attribute name. 
    Downside is if the new column/attribute is added, it won't show in the html. 
    If you want to capture the new added column/attribute. 
    You can also loop through the data and grab the data attribute.
    -->
    <table id="change-table">
        <tr>
            <th>_id</th>
            <th>historicalreservationid</th>
            <th>regioncode</th>
            <th>park</th>
            <th>inventorytype</th>
            <th>tax</th>
            <th>totalbeforetax</th>
            <th>discount</th>
            <th>totalpaid</th>
            <th>sitetype</th>
            <th>usetype</th>
        </tr>
    </table>
    <!--
    -->
    <script>
        // socket connect to port (e.g. 10102)
        var socket = io.connect("http://" + document.domain + ":" + location.port);

        socket.on("change_data", function(data) {
            var table = $("#change-table");

            // clear the old data first. so the new data won't append.
            table.empty();

            // futrue work: instead of type out each attribute name in table. 
            // maybe we can loop through it.
            // easier to read and modify            
            table.append("<tr><th>_id</th><th>historicalreservationid</th><th>regioncode</th><th>park</th><th>inventorytype</th><th>tax</th><th>totalbeforetax</th><th>discount</th><th>totalpaid</th><th>sitetype</th><th>usetype</th></tr>");

            // Same here. Due to time constraint. 
            // Currently the final version of loop through variable is not supported
            for (var i = 0; i < data.length; i++) {
                table.append("<tr><td>" + data[i]._id + "</td><td>" + data[i].historicalreservationid + "</td><td>" + data[i].regioncode + "</td><td>" + data[i].park + "</td><td>" + data[i].inventorytype + "</td><td>" + data[i].tax + "</td><td>" + data[i].totalbeforetax + "</td><td>" + data[i].discount + "</td><td>" + data[i].totalpaid + "</td><td>" + data[i].sitetype + "</td><td>" + data[i].usetype + "</td></tr>");
            }
        });
    </script>
</body>
</html>
